body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

section::after {
    content: '';
    display: block;
    margin: 20px 0;
    border-bottom: 2px solid #ddd; /* Adjust color and thickness as needed */
}

section:last-of-type::after {
    display: none; /* Prevents the line from appearing after the last section */
}



#contact h2 {
    text-align: center;
}
